:root{
    --gray:rgb(113, 113, 113);
}

body {
    padding: 0;
    margin: 0;
    background: #f0f0f0;
}
.navbar {
    background:#f0f0f0;
    border-bottom: 1px solid var(--gray);
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
    color: var(--gray);
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}